<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        // Template literal is similar to string formatting in Python
        var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        //  prop method in JQuery > Disable #x
        // $( "#x" ).prop( "disabled", true );
        //  Enable #x
        //  $( "#x" ).prop( "disabled", false );
    }

    // Ensure proper enabling/disabling of all inputs on page load
    // By getting all the quantity inputs on the page, iterating through them. 
    // And for each one calling the enable/disable function as soon as the page loads.
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // For built-in up and down arrows in the number box, check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity > allInputs associate both qty input
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       // Go up to the '.input-group' and find closest input '.qty_input' *[0]
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var allInputs = $(`.input-group-${itemId} input`)
       // jQuery to select and manipulate the DOM element referenced by the closestInput
       var currentValue = parseInt($(closestInput).val());
       $(allInputs).val(currentValue +1);
       handleEnableDisable(itemId);
    });

    // Decrement quantity > allInputs associate both qty input
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var allInputs = $(`.input-group-${itemId} input`)
       var currentValue = parseInt($(closestInput).val());
       $(allInputs).val(currentValue -1);
       
       handleEnableDisable(itemId);
    });
</script>